{% load static %}
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% block scripts %}
	<script src="{% static "cinema/js/script.js" %}"></script>
	<link rel="stylesheet" href="{% static "cinema/css/style.css" %}">
{% endblock %}

</head>
<body>
	<nav>
		<ul>
			<li><a href="{% url 'catalogo'  %}">Catalogo</a></li>
			<li><a href="{% url 'reservaList'  %}">Reservar</a></li>
			<li> <form action="{% url 'buscar'  %}"> <input type="text" name="filtroBusqueda"/><input type="submit" value="Buscar"/></form></li>

		</ul>
		
	</nav>
<div id="contenido" class="container">
{% block contenido %}

{% endblock %}
</div>
	
</body>
</html>