{% extends "./base.html" %}

{% block contenido %}
<div class="detalle">
	<h4>Escoge las sesiones</h4>
	<table class="sesion">

		{% for sesion in sesiones%}

		<tr >
			<th>Sesion</th>
			<td> {{sesion.hora}} </td>

			<th>Sala</th>
			<td> {{sesion.sala.numeroSala}} </td>

			<th>Numero de entradas</th>
			<td> <input type="number" id="nEntradasSesion{{sesion.id}}" value="0" min="0"> </td>

			<th><button onclick="pintarSala({{ sesion.id }})">Seleccionar asientos</button></th>
			<td id="res{{sesion.id}}">	</td>
			
			
		</tr>

		{%endfor%}

	</table>
</div>

	<div id="asientos" class="asientos" ></div>
	<div id="guardar" class="asientos"></div>

	<div>
		<form action="guardarReserva" method ="post"> {% csrf_token %}
		<input type="text" value="" id="sesiones" name="sesionesSeleccionadas"  hidden/>
		<input type="submit" value="Finalizar reserva"/>

		</form>
	</div>

	

{% endblock %}